	:root {
		--main-color: #100a07;
		--main-muted: #827c6d;
		--green: #b6e63e;
		--orange: #e28c21;
		--red: #e74c3c;
		--cyan: #67b6b9;
		--blue: #397da4;
		--magenta: #e13166;
		--violet: #9387c2;
		--yellow: #e2c770;
		--foreground-light: #657e7e;
		--white: #bbb29d;
	}

    ::-webkit-scrollbar {
        display: none;
    }

	@keyframes rise {
		0% {opacity:0;}
		100% {opacity:1;}
	}

	@keyframes fadein {
		from {opacity:0.3;}
		to {opacity:1;}
	}

    @font-face {
 		font-family: 'Product Sans';
		src: url('ProductSans.ttf');
	}

	body {
        background-color: var(--main-color);
        text-align: center;
		margin: 0;
	}

	#top_bar {
        display: glow;
		position: center;
		font-family: 'Product Sans', monospace;
		text-align: center;
		color: #dc322f;
		font-size: 12px;
		padding: 30px;
		border: 5px solid var(--main-color);
		background: var(--main-color);
		box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	a:link , a:visited{
		text-decoration: none;
		color: var(--main-muted);
		background-color:var(--main-color);
		border-style: 2px solid;
		border-radius: 3px;
		padding: 8px;
		width: 200px;
		height: 100px;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

	}

       .magenta {
        text-decoration: none;
        border: 2px solid var(--magenta);
        margin: 5px;
        transition: 0.25s ease;
    }

    .cyan {
        text-decoration: none;
        border: 2px solid var(--cyan);
        margin: 5px;
        transition: 0.25s ease;
    }

    .green {
        text-decoration: none;
        border: 2px solid var(--green);
        margin: 5px;
        transition: 0.25s ease;
    }

    .red {
        text-decoration: none;
        border: 2px solid var(--red);
        margin: 5px;
        transition: 0.25s ease;
    }

    .blue {
        text-decoration: none;
        border: 2px solid var(--blue);
        margin: 5px;
        transition: 0.25s ease;
    }

    .orange {
        text-decoration: none;
        border: 2px solid var(--orange);
        margin: 5px;
        transition: 0.25s ease;
    }

    .magenta:hover {
       text-decoration: none;
       transition: 0.25s ease;
       background-color: var(--magenta);
       color: var(--white);
    }

    .cyan:hover {
        text-decoration: none;
        background-color: var(--cyan);
        transition: 0.25s ease;
        color: var(--white);
    }

    .red:hover {
        text-decoration: none;
        background-color: var(--red);
        transition: 0.25s ease;
        color: var(--white);
    }

    .orange:hover {
        text-decoration: none;
        background-color: var(--orange);
        transition: 0.25s ease;
        color: var(--white);
    }

    .blue:hover {
        text-decoration: none;
        transition: 0.25s ease;
        background-color: var(--blue);
        color: var(--white);
    }

    .green:hover {
        text-decoration: none;
        transition: 0.25s ease;
        background-color: var(--green);
        color: var(--white);
    }

	input {
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		color: var(--white);
		background-color: var(--main-color);
		border: 2px solid #434D61;
		border-radius: 100px;
		width: 40%;
		height: 20px;
		font-size: 12px;
		padding : 8px;
		box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
		position: relative;
		transition: 0.2s ease;
	}

	input:focus {
		border: 2px solid var(--foreground-light);
		outline: 0;
	}

	input:hover {
		border: 2px solid var(--foreground-light);
	}

	#logo {
		margin-top: 100px;
		font-family: 'Product Sans', monospace;
		font-size: 80px;
		text-align: center;
		padding: 50px;
        color: var(--main-muted);

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	#big_g {
		height: 100px;
		margin-top: 50px;
	}

	#icons {
		position: center;
		font-family: 'Product Sans', sans-serif;
		text-align: center;
		color: var(--main-muted);
		font-size: 10px;
		padding: 30px;
		background: rgba(0,0,0,0);

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	#github ,#gplus, #twitter, #facebook, #mail, #reddit, #you {
		color: var(--main-color);
		transition: 0.25s ease;
        border-radius: 100px;
        width: 45px;
        height: 45px;
        margin: 5px;
        line-height: 45px;
	}

    #github {
        background-color: var(--blue);
    }

    #gplus, #you {
        background-color: var(--red);
    }

    #twitter {
        background-color: var(--cyan);
    }

    #facebook {
        background-color: var(--blue);
    }

    #mail {
        background-color: var(--yellow);
    }

    #reddit {
        background-color: var(--green);
    }

	#github:hover, #twitter:hover, #facebook:hover, #mail:hover, #gplus:hover , #reddit:hover, #you:hover {
        filter: opacity(0.6);
	}


.icon-arrow-down:before {
  content: "\e900";
  color: #000;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4rcyt');
  src:  url('fonts/icomoon.eot?4rcyt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4rcyt') format('truetype'),
    url('fonts/icomoon.woff?4rcyt') format('woff'),
    url('fonts/icomoon.svg?4rcyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
